.confirmation-container {
  padding: 40px 20px;
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
  color: #ecf0f1;
}

.confirmation-container h1 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.confirmation-message {
  font-size: 1.2rem;
  color: #bdc3c7;
  margin-bottom: 30px;
}

.meme-wrapper {
  background-color: white; /* Fondo para el meme */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.meme-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}